#new_color1 {
    color: rgb(231, 192, 118);
  }
  
  .container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .carousel-item img {
    display: block;
    margin: 0 auto;
  }
  
  .carousel {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 2px solid #6c757d;
  }
  
  .row {
    margin-bottom: 20px;
  }
  
  .feature {
    border-top: 2px solid #6c757d;
    padding-top: 20px;
    margin-top: 20px;
  }
  
  #img1 {
    height: 400px;
  }
  
  #title {
    text-align: center;
  }
  
  .feature {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .feature-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgb(231, 192, 118);
  }


  
  .dropdown-menu {
    right: auto;
    left: 0;
  }
  
  #nameofmanager {
    font-weight: 800;
  }
  
  #connectas {
    background-image: url("./Kala_Pisgat.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
  }
  
  
  body {
    background-color: #fcf6f6;
     margin-bottom: 80px; /* הוסף גובה של 80 פיקסלים למרווח התחתון של ה-body */
     margin-bottom: 0;
  }
  
  
  .btn.btn--contact {
    background-color: #fff4f6;
    color: rgb(231, 192, 118);
    font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 50px;
    transition: all 0.3s;
    text-align: center;
    position: relative;
    overflow: hidden;
  }
  
  .btn.btn--contact:hover {
    background-color: #0e0b0b;
    transform: translateY(-3px);
  }
  
  .btn.btn--contact::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("./email-icon.png.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    opacity: 0.3;
  }
  
  .btn.btn--contact:hover::before {
    opacity: 0.6;
  }
  
  a {
    text-decoration: none;
  }
  
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
  }
  
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #000000;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    margin-top: 50px;
    border-top: 2px solid #6c757d;
    width: 100%;
  }
  
  
  footer img {
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
    border-radius: 5px;
  }
  
  footer p {
    margin-bottom: 0;
  }




  #connect-footer{
   position: absolute;
   margin-top: auto;
  }

  .text-center_h2 {
    background: linear-gradient(to right, rgb(231, 192, 118), rgb(231, 192, 118));
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    padding: 10px 20px;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
    position: relative;
    border-radius: 10px;
    animation: glowing 2s infinite;
  }
  
  .text-center_h2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(231, 192, 118);
    opacity: 0.5;
    z-index: -1;
  }
  
  @keyframes glowing {
    0% {
      box-shadow: 0 0 5px rgb(231, 192, 118), 0 0 20px rgb(231, 192, 118), 0 0 30px rgb(231, 192, 118);
    }
    50% {
      box-shadow: 0 0 20px rgb(231, 192, 118), 0 0 30px rgb(231, 192, 118), 0 0 40px rgb(231, 192, 118);
    }
    100% {
      box-shadow: 0 0 5px rgb(231, 192, 118), 0 0 20px rgb(231, 192, 118), 0 0 30pxrgb(231, 192, 118);
    }
  }


  .text-center_1{
    background: linear-gradient(to right, rgb(252, 252, 251), rgb(231, 192, 118));
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    padding: 10px 20px;
    margin-bottom: 20px;
    color: #0a0909;
    text-align: center;
    position: relative;
    border-radius: 10px;
    animation: glowing 2s ;
  }
  
  .text-center_1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(231, 192, 118);
    opacity: 0.5;
    z-index: -1;
  }
  
  #icon_about{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    
} 

.row-cols-2 {
    column-count: 2;
  }

#project_buttom{
  margin-top: 50px;

}

#container_of_img h1{
  margin-top: 100px;
  margin-bottom: 50px;
  background: linear-gradient(to right, rgb(245, 245, 245), rgb(231, 192, 118));
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  padding: 10px 100px;
  margin-bottom: 20px;
  color: #5e5e5e;
  border-radius: 10px;
  animation: glowing 3s ;
}



.gallery-item {
  position: relative;
  overflow: hidden;
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
}

.gallery-item img {
  width: 100%;
  transition: transform 0.3s ease;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }


.gallery-item:hover img {
  transform: scale(1.2);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-item:hover .overlay {
  opacity: 1;
}

.overlay-content {
  color: #fff;
  text-align: center;
}


#containerofimg{
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 50px;
  }

.project_img{
  margin-bottom: 50px;
}

#go_back{
  color: rgb(2, 26, 26);
  font-weight: 900;
  border: 5px solid #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-right: 100vh;

}

.project-page img {
  border: 5px solid #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#first_container_project h2 {
  background-color: rgb(231, 192, 118);
  padding: 10px;
  color: #fff5f5;
  margin-bottom: 50px;
}


#first_container_project h2 {
  background-color: rgb(231, 192, 118);
  padding: 10px;
  color: #fff;
  margin-left: -15px;
  margin-right: -15px;
  }


@media (max-width: 375px) {
  #first_container_project h2 {
    padding: 10px 20px;
  }
}

.project-page {
  padding-top: 50px; 
  padding-bottom: 50px; 
}